body{
	background-color: #d1eaff;
}

#header{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #4c858a;
	background-image: url("design/pattern.png");
	padding: 0px;
	width: 90%;
	margin: auto;
}

#headerfade{
	width: 100%;
	height: 80px;
	background-image: url("design/fade.png");
	background-repeat: repeat-x;
	text-align: right;
}

#contentback {
	background-color: #e1f2ff;
	width: 900px;
	height: 100%;
	margin: auto;
	position: relative;
}

#headerlogo{
	width: 381px;
	height: 124px;
	background-image: url("design/maniacarok.png");
	left: -80px;
	top: -80px;
	position: absolute;
}


#picture img{
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}

.layouter{
}

.optionbutton{
}

#picture{
	width: 600px;
	height: 400px;
	padding: 10px;
	position: absolute;
}

#desc{
	top: 400px;
	left: 0px;
	position: absolute;
	width: 600px;
	padding: 10px;
	font-family: "Arial";
	text-align: justify;
}

#places{
	top: 400px;
	left: 0px;
	width: 300px;
	height: 200px;
}

#inventory{
	top: 400px;
	left: 300px;
	width: 300px;
	height: 200px;
}
