body{
	background-color: #d1eaff;
}

#header{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #4c858a;
	background-image: url("design/pattern.png");
	padding: 0px;
	width: 90%;
	margin: auto;
}

#headerfade{
	width: 100%;
	height: 80px;
	background-image: url("design/fade.png");
	background-repeat: repeat-x;
	text-align: right;
}

#headerlogo{
	width: 381px;
	height: 124px;
	background-image: url("design/maniacarok.png");
	float: right;
	position: relative;
	top: -80px;
	left: 110px;
}

#contentback {
	background-color: #e1f2ff;
	width: 800px;
	height: 100%;
	margin: auto;
}


#picture img{
	width: 100%;
	height: 100%;
}

.layouter{
	border-style: solid;
	margin: 5px;
}

.optionbutton{
	border-style: solid;
	margin: 5px;
}

#picture{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 600px;
	height: 400px;
}

#desc{
	position: absolute;
	top: 0px;
	left: 600px;
	width: 380px;
	height: 580px;
	padding: 10px;
	overflow-x: hidden;
}

#places{
	position: absolute;
	top: 400px;
	left: 0px;
	width: 300px;
	height: 200px;
}

#inventory{
	position: absolute;
	top: 400px;
	left: 300px;
	width: 300px;
	height: 200px;
}
