body{
	background-color: #000000;
}

#contentback {
	width: 900px;
	margin: auto;
	position: relative;
	font-family: "Comic Sans MS";
	color: white;
}

b {
	color: white;
}

#headerlogo{
	width: 200px;
	height: 200px;
	background-image: url("design/arokfirpg.png");
	left: -220px;
	top: 10x;
	position: absolute;
}


#picture img{
	width: 100%;
	height: 100%;
}

#picture{
	width: 320px;
	height: 200px;
	padding: 10px;
	position: absolute;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

#desc{
	top: 210px;
	left: 0px;
	position: absolute;
	width: 900px;
}

#places{
	top: 0px;
	left: 550px;
	width: 200px;
	height: 200px;
	position: absolute;
	padding: 10px;
}

#inventory{
	top: 0px;
	left: 340px;
	width: 200px;
	height: 200px;
	padding: 10px;
	position: absolute;
}

#picture img{
}
